@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.navbar__logo {
  width: 110px;
}
.navbar__nav__link {
  color: #ff6060;
  font-size: 12px;
  margin-left: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.active {
  text-decoration: underline;
}

.footer {
  background: black;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__desc {
  color: white;
  font-size: 12px;
  margin-top: 30px;
}

.about {
  margin: 10px;
  min-height: 90vh;
}
.about__guidelines {
  display: grid;
  gap: 20px;
  margin-top: 20px;
}

.container {
  margin: 0;
  position: relative;
}

.carrousel {
  height: 100%;
  position: relative;
  width: 100%;
}
.carrousel__navigation {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
}
.carrousel__img {
  border-radius: 10px;
  height: 225px;
  object-fit: cover;
  user-select: none;
  width: 100%;
}
.carrousel__legend {
  bottom: 10px;
  color: white;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.hide-img {
  display: none;
}

.chevron {
  cursor: pointer;
  height: 20px;
}

.drop {
  width: 100%;
}
.drop__visible {
  align-items: center;
  background: #ff6060;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  height: 29.93px;
  justify-content: space-between;
  padding: 0px 13px;
}
.drop__visible__title {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.drop__visible__chevron {
  transition: all 0.4s ease-in-out;
  width: 13px;
}
.drop__toggle {
  background: #f7f7f7;
  border-radius: 0 0 10px 10px;
  color: #ff6060;
  font-size: 12px;
  font-weight: 300;
  height: auto;
  opacity: 0;
  transition: opacity 200ms ease-in;
}
.drop__toggle__content {
  line-height: 17.11px;
  margin: 0;
  padding: 15px;
  pointer-events: none;
}

.rotate {
  transform: rotate(180deg);
}

.animated {
  opacity: 1;
  transition: height 500ms ease-in, opacity 300ms ease-in;
}

.herobanner,
.herobanner__about {
  background-position: center;
  background-size: cover;
  border-collapse: separate;
  border-radius: 10px;
  display: flex;
  height: 111px;
  align-items: center;
}
.herobanner__title,
.herobanner__about__title {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding: 16px;
}

.herobanner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/img-1.png");
}

.herobanner__about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/img-2.png");
}

.host {
  display: flex;
  align-items: center;
  max-width: 120px;
}
.host__img {
  border-radius: 50%;
  height: 32px;
  margin-left: 10px;
  width: 32px;
}
.host__name {
  color: #ff6060;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
}

.star {
  height: 23px;
  width: 23px;
}

.stars {
  width: 450px;
}

/*# sourceMappingURL=index.css.map */
