.title {
  color: $primary;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: left;
}

.location {
  color: $primary;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: $mediumdevices) {
  .title {
    font-size: 36px;
    line-height: 51.34px;
    max-width: 70%;
  }

  .location {
    font-size: 18px;
  }
}
