.title {
  color: $primary;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: left;
}

.location {
  color: $primary;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
}
