.rental {
  margin: 10px;
  min-height: 90vh;
  &__informations {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__host {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  &__details {
    display: grid;
    gap: 10px;
    margin-top: 16px;
  }
}

@media screen and (min-width: $mediumdevices) {
  .rental {
    max-width: 1080px;
    margin: auto;
    padding: 10px;
    &__host {
      flex-direction: column-reverse;
      align-items: flex-end;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }
    &__details {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: $largedevices) {
  .rental__details {
    gap: 70px;
  }
}
